/* MAIN BODY FOR FANFICS */
body {
  margin: 5%;
  padding: 5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.3;
  background-color: #333;
  color: #e2e2e2;
  font-size: normal;
}

p {
  margin-top: 5;
  margin-bottom: 15;
}

/* HEADERS */
h2 {
  line-height: 0.5;
}

h3 {
  line-height: 0.5;
  font-weight: normal;
}

h4 {
  line-height: 0;
}

/* BUTTONS */
a {
  text-decoration: none;
  font-size: 85%;
  display: inline-block;
  padding: 5px 8px;
}

a:hover {
  background-color: #2d2d2d;
  color: #bababa;
}

.prev-next-button {
  background-color: #636363;
  color: #eaeaea;
  border-radius: 5px;
  text-align: right;
}

#top-button {
  background-color: #636363;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #eaeaea;
  border-radius: 7px;
  padding: 5 8;
}

#top-button:hover {
  background-color: #2d2d2d;
}

/* Some Line Divider Stuff */

hr.no-space {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #ffffff;
}

/* NAVIGATION */
/* Dropdown Button */
.dropbutton {
  background-color: #636363;
  color: #eaeaea;
  padding: 5 8;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: none;
  cursor: pointer;
  right: auto;
  left: 0%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
  background-color: #2d2d2d;
}
.dropbtn:focus {
  background-color: #2d2d2d;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5 8;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.dropdown-scrollbar {
  height: 500%;
  overflow-y: scroll;
  overflow-x: hidden;
}
