/* MAIN BODY FOR FANFICS */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  background-color: #333;
  color: #e2e2e2;
  font-size: normal;
}

p {
  margin-top: 5;
  margin-bottom: 15;
}

.work {
  max-width: 123ch;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 4vw, 3rem);
}

.summary-note-line {
  max-width: 110ch;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 4vw, 3rem);
}

.summary-note-p {
  max-width: 108ch;
  margin-inline: auto;
  padding-inline: clamp(0.5rem, 4vw, 3rem);
}

/* HEADERS */
h2 {
  line-height: 0.5;
}

h3 {
  line-height: 0.5;
  font-weight: normal;
}

h4 {
  line-height: 0.5;
  font-weight: normal;
}

.more-notes {
  color: #ababab;
}

.more-notes:hover {
  color: #545454;
}

/* BUTTONS */

.prev-next-button {
  background-color: #565656;
  color: #eaeaea;
  border-radius: 5px;
  text-align: right;
  text-decoration: none;
  font-size: 85%;
  display: inline-block;
  padding: 5px 8px;
}

.prev-next-button:hover {
  background-color: #2d2d2d;
  color: #bababa;
}

/* Some Line Divider Stuff */

hr.no-space {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #ffffff;
}
