/* MAIN BODY FOR FANFICS */
body {
  margin: 5%;
  padding: 5%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.3;
  background-color: #333;
  color: #e2e2e2;
  font-size: normal;
}

p {
  margin-top: 5;
  margin-bottom: 15;
}

/* HEADERS */
h2 {
  line-height: 0.5;
}

h3 {
  line-height: 0.5;
  font-weight: normal;
}

h4 {
  line-height: 0;
}

/* BUTTONS */
a {
  text-decoration: none;
  font-size: 85%;
  display: inline-block;
  padding: 5px 8px;
}

a:hover {
  background-color: #2d2d2d;
  color: #bababa;
}

.prev-next-button {
  background-color: #636363;
  color: #eaeaea;
  border-radius: 5px;
  text-align: right;
}

/* Some Line Divider Stuff */

hr.no-space {
  margin-top: 0px;
  margin-bottom: 5px;
  color: #ffffff;
}

